html, body {
    background: whitesmoke;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    h1{
        margin: 0;
        /*padding: 40px;*/
        font-weight: 500;
    }
     h2{
        margin: 0;
        padding: 40px;
        font-weight: 400;
     }
     h4{
        margin: 0;
        padding-top: 10px;
        font-weight: 500;
        
     }
    div#kontener {
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
    padding: 0;
    }
    div#header{
        background-color: #008000;
        width: 100%;
        height: auto;
        position: fixed;
        transition:top 2s;
        z-index: 1;
        box-shadow: 0px 5px 15px;

    } 
    div#logo {
    width: 40%; 
    /*min-height: 20%;*/ 
    background: ghostwhite;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    float: left;
   
    }
    div#menu{
        width: 60%;
        float: right;
        height: 100%;
    }
        img.obr{
            max-width: 70%;
            min-width: 70%;
            margin-top: 5px;
             }
   .nav--up{
        top: -1000px;
        transition:top 2s;
    }
    .nav {
        /*width: 100%; 
        /*min-height: 20%;*/ 
        background: ghostwhite;
        padding: 0;
        /*top: 0;*/
        font-size: 36px;
        padding-bottom: 10px;
        margin: 0 auto;
        text-align: center;
        
        }
        /*.navbar {
            background-color: lightslategray;
           /*overflow: hidden;*/
            /*padding: 8px 5px 8px 5px;*/
        @media screen and (min-width: 1197px) {
            .nav{display: block !important;}
            button{ display: none;}
            ul{display: none; float: inherit; }
            div#onas{column-count: 3;-webkit-column-count: 3; -moz-column-count: 3;}
        }
        @media screen and (max-width:1197px) {
            .nav {display: none;}
            .nav a {width: 100%;padding: 2% 0;} 
            .menu-button {display: block;}
            div#menu{width: 20%;height: 0px;}
            div#logo{width: 80%;}
            #menu-rozw {display: none;}
            ul{ float: inherit; }
            #menu-rozw li {width: 100%; padding: 2% 0;}
            div#onas{column-count: 1;-webkit-column-count: 1; -moz-column-count: 1;}
        }  
        
        #menu-rozw {list-style: none; 
                    float: inherit; 
                    width: 100%;
                    background-color: ghostwhite;
                    font-size: 25px;
                }
        #menu-rozw li {float: left; 
                       display: block;
                       
                transition: 1s;
                
                    }
        #menu-rozw li a {text-decoration: none;
                        color: green;
                        padding-right: 10px;
                        padding-left: 10px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        transition: 1s;
                        width: 100%;
                        display: block;
                        }
            #menu-rozw  a:hover {text-decoration: none;
                            color: black;
                            background-color: #008000;
                            padding-right: 10px;
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                transition: 1s;
                           }               
        .menu-button{
            border: 0px;
            background: url(BtnNav.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100px 100px;
            color: #008000;
            width: 100px;
            height: 100px;
            float: right;
            cursor: pointer;
        }
        
            .nav a {
                margin: -5px;
                text-decoration: none;
                color: inherit;
                
               /* border-right: 4px solid;
                /*border-radius: 5px;*/
                color: green;
                border-color: green;
                padding-right: 10px;
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                transition: 1s;
            }
            .nav a:hover{
                text-decoration: none;
                color: inherit;
                
               /* border-right: 4px solid;
                /*border-radius: 5px;*/
                color: whitesmoke;
                border-color: whitesmoke;
                padding-right: 10px;
               padding-left: 10px;
                background-color: green;
            }
        
        .navbar-brand {
            font-size: 1.0em;
            font-weight: 600;
        }
        
        .navbar-item {
            /*font-variant: small-caps;
            margin-left: 30px;*/
            font-size: 1.0em;
            font-weight: 600;
        }
        a.menulink{
            text-decoration: none;
            display: block;
            height: 30px;
            background-color: antiquewhite;
        }
        div#aktualnosci{
            width: 100%; 
            /*min-height: 100%;*/ 
            background: whitesmoke;
            padding-top: 100px;
            margin: 0 auto;
        }
        div#onas{
            padding-top: 100px;
            width: 70%; 
            /*min-height: 100%;*/ 
            background: whitesmoke;           
            margin: 0 auto;
            text-align: justify;
            /*-webkit-column-count: 3; /* Chrome, Safari, Opera */
            /*-moz-column-count: 3; /* Firefox */
             /*column-count: 3;
             /*-webkit-column-width: 200px; /* Chrome, Safari, Opera */
            /* -moz-column-width: 200px; /* Firefox */
            /*column-width: 200px;*/
        }
        div#oferta{
            width: 70%; 
            /*min-height: 100%;*/ 
            background: whitesmoke;
            padding: 0;
            margin: 0 auto;
            text-align: justify;
        }
        div#sprzet{
            width: 70%; 
            min-height: 80%; 
            background: whitesmoke;
            padding: 0;
            margin: 0 auto;
            text-align: justify;
        }
    div#stopka{
            width: 100%; 
            min-height: 10%; 
            background: whitesmoke;
            padding: 0;
            margin: 0 auto;
            text-align: center;
    }
    img.obrSprzet{
        width: 300px;
        height: 300px;
        padding: 20px;
        text-align: center;
    }
    table{
        margin-left: auto;
        margin-right: auto;
    }
    .SliderZdjecia{
        
        display: none;
        max-width: 100%;
       /* height: 500px;*/
       margin-left: auto;
       margin-right: auto;
       border: solid 1px;
       /*border-top-left-radius: 30px;
       border-bottom-right-radius: 30px;*/
       box-shadow: 0px 7px 21px;
      z-index: 1000;
      transition: 3s;
    }
    div.Slider{
        padding-top: 50px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transition:top 2s;
        position: relative;
    }
    hr{
        width: 90%;
        height: 2px;
        background-color: #008000;
        border: 0px;
    }


    .obr-black, .obr-hover-black{
        color: #fff!important;
        background-color: #000!important;
    }
    .obr-black :hover {
        color: #fff!important;
        background-color: green!important;
    }
    .obr-display-left {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%,-50%);
        -ms-transform: translate(-0%,-50%);
    }
    .obr-btn, .obr-button {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .obr-btn, .obr-button {
        border: none;
        display: inline-block;
        padding: 8px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
    }  
    .obr-display-right {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(0%,-50%);
        -ms-transform: translate(0%,-50%);
    }
    video{
        width: -webkit-fill-available;
    }
    #kontakt{
        background-color: whitesmoke;
        width: 100%;
        height: 50%;
        padding: 100px;
    }